<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
  <span *ngIf="allDone" style="color: green; font-size: 50px;"> Payment done :) </span>
  <div class="row">
    <div class="col col-md-6">
      <p>Select amount you want to pay</p>
      <select class="form-control" (change)="openCheckout($event)">
        <option selected="true" disabled="disabled">Choose one</option>
        <option *ngFor="let v of pay" [value]="v.value">{{v.money}}</option>
      </select>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
